.about-img {
  height: 65vh;
  width: 100%;
  filter: brightness(65%);
}

.abt {
  top: 75%;
  left: 3%;
}

.cor-head {
  font-size: 7rem;
}

.abt-header {
  font-size: 2.3rem;
  margin-bottom: 1rem;
}

.grid-3-cols {
  margin: 1rem 3rem;
}

.mission-border {
  border-bottom: 1px solid #000;
  margin: 1rem 0;
}

.values {
  font-size: 1.8rem;
  background-color: #fff;
  margin: 1rem;
  color: #10123c;
  line-height: 2;
  padding: 1rem 3rem;
  border-radius: 9px;
  font-weight: bold;
  list-style: square ;
  font-weight: 540;
}

.about-hero {
  left: 0;
  margin: 2rem 5rem;
  /* top: 40%; */
  top: 30%;
  text-align: start;
}

.statement {
  display: flex;
  align-items: center;
  gap: 1.4rem;
}

.cor-h2 {
  margin-top: 17rem;
}

.mission {
  background-color: #10123c;
}

.mission-mar {
  padding: 4rem;
  margin: 4rem;
}

.mission-desc {
  color: #fff;
  opacity: 67%;
}

.m-h {
  color: #fff;
  /* opacity: 80%; */
}

.management {
  margin-top: 4rem;
}
