.bus-img {
  height: 38vh;
  width: 100%;
}

.bus-btn {
  border-radius: 4px;
  padding: 0.5rem ;
  font-size: 1.03rem;
  border: none;
  outline: none;
}


.bus-head {
  margin: auto 4rem;
  text-transform: uppercase;
}

.bus-fl {
  gap: 1rem;
}