.footer {
  background-color: #10123c;
  padding: 6rem;
}

.footer-link:link,
.footer-link:visited {
  color: #fff;
  opacity: 75%;
  line-height: 3;
  font-size: 1.3rem;
}

.nur-header {
  font-size: 1.8rem;
  color: #fff;
}

.footer-logo {
  background-color: #fff;
  margin-top: 10rem;
  width: 55%;
}

.footer-text {
  color: #fff;
  margin-top: 2rem;
  text-align: center;
}

.footer-border {
  border: 1px solid #eee;
  opacity: 35%;
  margin-bottom: 2.4rem;
}

.social-icons {
  display: flex;
  gap: 2rem;
  margin-left: 9rem;
  cursor: pointer;
}

.icons {
  background-color: #fff;
  color: #10123c;
  border-radius: 4px;
  padding: 0.34rem;
  transition: all 0.4s linear;
}

.icons:hover {
  background-color: transparent;
  color: #fff;
  transform: scale(1.01);
}

.sub-btn {
  background-color: transparent;
  border: none;
  color: #fff;
  outline: none;
  background-color: #0a0b23;
}

.sub {
  color: #fff;
}

.sub-text {
  text-align: justify;
  font-size: 1.2rem;
  color: #fff;
  line-height: 2;
  opacity: 75%;
}

.sub-input-form {
  background-color: rgb(118, 99, 99);
  width: 100%;
}

.sub-input-form::placeholder {
  color: #fff;
}

.contact-details {
  display: flex;
  align-items: center;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.footer-location,
.footer--link:link,
.footer--link:visited {
  color: #fff;
}
