/* font-family: "Poppins", Sans-serif !important; */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

body {
  font-family: sans-serif;
  line-height: 1.6;
  font-weight: 400;
  color: #555;
  color: #10123c;
}

li {
  list-style: none;
}

.hero-img {
  height: 90vh;
  width: 100%;
  filter: brightness(65%) blur(0.5px);
}

.carousel-slide {
  position: relative;
  width: 100%;
  height: 90vh;
  width: 100%;
  text-align: center;
  overflow: hidden;
  transition: all 1.4s linear;
}

/* .carousel-slide img {
  width: 100%;
  height: 90vh;
  filter: blur(1px);
} */

.carousel-text {
  color: #000;
}

.loader {
  font-size: 3rem;
  font-weight: bold;
}

.container {
  margin: 2rem 4rem;
  padding: 4rem;
}

.main-nav {
  position: fixed;
  top: 0;
  z-index: 99;
  background-color: #fff;
  width: 100%;
  padding: 1rem 0;
}

.page-header {
  margin: 30rem;
  font-size: 5rem;
  text-align: center;
}

.main-nav-ul,
.burger-menu {
  display: flex;
  align-items: center;
  gap: 3.5rem;
  justify-content: space-between;
}

.logo {
  height: 5rem;
  margin: 0 5rem;
  /* background-color: #fff; */
}

.burger-menu {
  margin: auto 15rem;
}

.nav-link:link,
.nav-link:visited {
  text-decoration: none;
  font-size: 1.5rem;
  transition: all 0.5s linear;
  height: 100%;
}

.main-nav-li {
  font-size: 1.5rem;
  color: #060855;

  cursor: pointer;
}
.nav-link {
  color: #060855;
}

.active {
  color: #10123c;
  font-weight: bold;
}

.dropdown {
  display: inline-block;
  position: relative;
  transition: all 0.4s linear;
}

.dropdown-content {
  display: none;
  position: absolute;
  right: -6rem;
  background-color: #10123c;
  margin: 2.5rem 0;
  min-width: 20rem;
  padding: 2rem;
  line-height: 2;
}

.dropdown:hover .dropdown-content {
  display: inline;
}

.dropdown:hover {
  transform: scale(1.04);
}

.dropdown-link {
  color: #fff;
}

.hero-position {
  position: relative;
}

.hero {
  position: absolute;
  top: 38%;
  margin: auto 1%;
  width: 100%;
  color: #fff;
  text-align: center;
  z-index: 1;
}

.hero-h2 {
  font-size: 5rem;
}

.hero-p {
  font-size: 2rem;
  font-weight: 600;
}

.secondary-header {
  font-size: 2.7rem;
}

.weight {
  font-weight: 400;
}

.text-description {
  font-size: 1.7rem;
  text-align: justify;
  line-height: 2;
}

.grid-2 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.grid-2-cols {
  margin: 2rem 4rem;
  overflow: hidden;
}

.tertiary-header {
  font-size: 2rem;
  color: #10123c;
}

.btn {
  background-color: #10123c;
  color: #fff;
  padding: 1rem;
  border: none;
  outline: none;
  border-radius: 4px;
  width: 40%;
  margin: 4rem auto;
  cursor: pointer;
  font-size: 1.6rem;
  font-weight: 600;
  transition: all 0.2s linear;
  filter: brightness(85%);
}

.btn:hover,
.btn:active {
  transform: scale(1.02);
  background-color: #060855;
}

.cta {
  background-color: #10123c;
  color: #fff;
  font-weight: bold;
  padding: 1rem;
  transition: all 0.4s linear;
}

.cta:hover,
.cta:active {
  transform: scale(1.03);
  background-color: #060855;
}

.training-link {
  /* text-decoration: none; */
  color: #060855;
  font-weight: bold;
}

.grid-3 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.grid-4 {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  /* grid-template-columns: 25% 25% 20% 50%; */
}

.mem-head {
  text-align: center;
  text-transform: uppercase;
}
