.csr {
  left: 45%;
  top: 45%;
}

.csr-img {
  height: 60vh;
  filter: blur(3px);
}

.g-h {
  left: 24%;
}

.news-img {
    height: 10rem;
    width: 14rem;
}

.link {
    color: #fff;
    text-decoration: none;
}

.news-head {
    font-size: 1.8rem;
}

.news-desc {
    font-size: 1.5rem;
}