.csr {
  width: 70%;
  margin: auto;
}

.csr-img {
  height: 70vh;
  width: 70vw;
  margin: auto 15%;
}

.cor-head {
  font-size: 3rem;
  text-transform: uppercase;
}

.cor {
  margin: 0;
  top: 80%;
  right: 14%;
}

.g-h {
  left: 24%;
}

.news-img {
  height: 10rem;
  width: 14rem;
}

.link {
  color: #fff;
  text-decoration: none;
}

.news-head {
  font-size: 1.6rem;
}

.news-desc {
  font-size: 1.5rem;
}

.news {
  color: #10123c;
}

.news-hero {
  left: 27%;
}

.video {
  margin: 8rem 4rem;
}

.news-grid {
  margin: 6rem;
}
.vid {
  margin-top: 1rem;
}

.news--btn {
  margin-top: 7.3rem;
}

.news-btn {
  margin-top: 18rem;
}

.blog-hero {
  left: 26%;
  /* top: 45%; */
}

.blog-header {
  text-transform: uppercase;
  font-weight: 600;
  font-size: 2rem;
}

.creche {
  font-size: 1.2rem;
}

.blog-content {
  margin: 7rem 0;
}

.topic {
  font-weight: 500;
  font-size: 1.6rem;
  list-style: square inside;
}

.blogss {
  color: #10123c;
  font-size: 1.8rem;
}

.topic-desc {
  text-transform: capitalize;
  display: list-item;
  list-style: square inside;
}

.who,
.top {
  line-height: 2.4;
}

.panelist {
  display: flex;
  overflow: hidden;
  /* margin: 1rem; */
}

.panelist:hover {
  overflow-x: scroll;
  cursor: pointer;
}

.panelist::-webkit-scrollbar {
  width: 0.5px;
  width: 1px;
  height: 7px;
}

.panelist::-webkit-scrollbar-track {
  box-shadow: none;
  /* background-color: #000; */
}

.panelist::-webkit-scrollbar-thumb {
  /* outline: 0.1px solid rgba(3, 3, 3, 0.288); */
  border-radius: 2rem;
  background-color: #fd0909;
  background-color: #555;
  width: 1px;
}

.img-pan {
  height: 30vh;
  width: 100%;
  border-radius: 0.4rem;
  margin: 0 ;
}

.img-slider {
  margin: 1.5rem;
  /* border: solid 1px #00000070; */
  border-radius: 0.4rem;
  /* box-shadow: 1px 1px 1px 1px #00000070; */
  transition: all 0.3s linear;
  width: 30%;
}

.img-slider:hover {
  transform: translate(1%);
  box-shadow: 0 2.5px 0 0 #00000070;
  border: none;
}

.panels {
  text-align: center;
  font-weight: 600;
}

.grid-flex {
  display: flex;
  align-items: center;
  gap: 3.5rem;
}


.hbss {
  margin: 4rem 2rem;
}