.welcome-cont {
  margin: auto;
  text-align: center;
}

.span {
  letter-spacing: 3px;
  font-weight: 600;
  line-height: 1.4;
}

.border {
  border-bottom: 1px solid #000;
  width: 30%;
  margin: 2rem auto auto;
}

.read {
  font-size: 1.3rem;
  text-align: center;
  cursor: pointer;
  transition: all 0.3s linear;
  outline: 1px solid #000;
  width: 20%;
  background-color: #10123c;
  color: #fff;
  padding: 0.2rem;
  margin: 3rem 54%;
  margin: 3rem 40%;
}

.read:hover {
  transform: scale(1.03);
  background-color: #060855;
}

.welcome-words {
  width: 50%;
  margin: auto;
}
